node_modules

#npm stuff
npm-debug.log

# IDEs
.idea

/bower_components/*
!/bower_components/video.js

/bower_components/video.js/*
!/bower_components/video.js/dist
/bower_components/video.js/dist/*.zip
/bower_components/video.js/dist/examples
